{% extends 'base.html' %}
{% block content %}
    <h2 class="link-h2">Ranking Clubes</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Posición</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for cl in clubs %}
                <tr onclick="location.href='/club/{{ cl.id }}';">
                    <td style="width: 60%;">{{ cl.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ loop.index }}</td>
                    <td>{{ '%0.2f'| format(cl.ibericonScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}