{% extends 'base.html' %}
{% block content %}
    <h1>LATAM</h1>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Top 10 Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
                <th>País</th>
            </tr>
            </thead>
            <tbody>
            {% for us in users[:10] %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td style="width: 70%;">{{ us.bcpName | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(us.bcpScore) }}</td>
                    <td>{{ library[us.country] }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/clubs/latam';">Top 10 Ranking Clubes</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
                <th>País</th>
            </tr>
            </thead>
            <tbody>
            {% for cl in clubs[:10] %}
                <tr onclick="location.href='/club/{{ cl.id }}';">
                    <td style="width: 70%;">{{ cl.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(cl.bcpScore) }}</td>
                    <td>{{ library[cl.country] }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}