{% extends 'base.html' %}
{% block content %}
    <h2 class="link-h2" onclick="location.href='/users/latam';">Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for us in users[:16] %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td style="width: 70%;">{{ us.bcpName | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(us.bcpScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/teams/latam';">Ranking Equipos</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for te in teams[:5] %}
                <tr onclick="location.href='/team/{{ te.id }}';">
                    <td style="width: 70%;">{{ te.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(te.bcpScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/clubs/latam';">Ranking Clubes</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for cl in clubs[:5] %}
                <tr onclick="location.href='/club/{{ cl.id }}';">
                    <td style="width: 70%;">{{ cl.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(cl.bcpScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}