{% extends 'base.html' %}
{% block content %}
    <h2 class="link-h2" onclick="location.href='/users';">Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for us in users[:16] %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td style="width: 70%;">{{ us.bcpName | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(us.ibericonScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <h2 class="link-h2">1º Golden Ticket</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% if golden1 is not none %}
                        <td>{{ golden1.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td>TBD</td>
                    {% endif %}
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2">2º Golden Ticket</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% if golden2 is not none %}
                        <td>{{ golden2.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td>TBD</td>
                    {% endif %}
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2">3º Golden Ticket</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% if golden3 is not none %}
                        <td>{{ golden3.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td>TBD</td>
                    {% endif %}
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2">Silver Tickets</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Torneo</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    {% if silver1 is not none %}
                        <td style="width: 70%;">{{ silver1.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td style="width: 70%;">TBD</td>
                    {% endif %}
                    <td>Nacional de Valencia</td>
                </tr>
                <tr>
                    {% if silver2 is not none %}
                        <td style="width: 70%;">{{ silver2.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td style="width: 70%;">TBD</td>
                    {% endif %}
                    <td>Campanas de la Plaga</td>
                </tr>
                <tr>
                    {% if silver3 is not none %}
                        <td style="width: 70%;">{{ silver3.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td style="width: 70%;">TBD</td>
                    {% endif %}
                    <td>GT de Valladolid</td>
                </tr>
                <tr>
                    {% if silver4 is not none %}
                        <td style="width: 70%;">{{ silver4.bcpName | truncate(30, True, '...', 0) }}</td>
                    {% else %}
                        <td style="width: 70%;">TBD</td>
                    {% endif %}
                    <td>La Cabra Norteña</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/teams';">Ranking Equipos</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for te in teams[:5] %}
                <tr onclick="location.href='/team/{{ te.id }}';">
                    <td style="width: 70%;">{{ te.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(te.ibericonScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/clubs';">Ranking Clubes</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for cl in clubs[:5] %}
                <tr onclick="location.href='/club/{{ cl.id }}';">
                    <td style="width: 70%;">{{ cl.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(cl.ibericonScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}