{% extends 'base.html' %}
{% block content %}
    <h1>Hall Of Fame Latinoamérica 2023 - 2024</h1>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Top 10 Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>País</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Pablo "Gallo"</td>
                    <td>Argentina</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Sebastián Núñez del Arco</td>
                    <td>Perú</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Javier Aguilar</td>
                    <td>Perú</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Alejo Martín</td>
                    <td>México</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Alejandro Jiménez</td>
                    <td>México</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td style="width: 70%;">Julio Revilla</td>
                    <td>Perú</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td style="width: 70%;">Carlos Irala</td>
                    <td>Argentina</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td style="width: 70%;">Mauricio Rodríguez</td>
                    <td>Argentina</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td style="width: 70%;">Esteban Limas</td>
                    <td>Argentina</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td style="width: 70%;">Manuel García</td>
                    <td>Colombia</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/clubs/latam';">Top 5 Ranking Clubes</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
                <th>País</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Escuadrón 5 de Mayo</td>
                    <td>México</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">3D3</td>
                    <td>Colombia</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Killteam Freaks!</td>
                    <td>Argentina</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Obsidian Warlords</td>
                    <td>México</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">KILL TEAM ARGENTINA</td>
                    <td>Argentina</td>
                </tr>
            <tbody>
        </table>
    </div>

    <h2 class="link-h2" onclick="location.href='/clubs/latam';">Top 1 por facción</h2>
    <div class="table-wrapper hof-factions">
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Blooded</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mauricio Ramos</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Chaos Cultists</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lucas Hrubisiuk</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Chaos Demons</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Javier Aguilar</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Farstalker Kinband</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Esteban Limas</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Hand of the Archon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Mario Ruiz</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Hearthkyn Salvagers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sebastián del Castillo</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Hierotek Circle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Juan Núñez del Prado</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Hive Fleet</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alejandro Pichardo</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Hunter Clade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ignacio Francisco</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Imperial Navy Breachers</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Facundo Suárez</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Inquisitorial Agents</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alejo Martín</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Intercession Squad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Julio Revilla</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Legionary</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sebastián Dávila</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Novitiates</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jonathan Céspedes</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Jonathan Céspedes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alejandro Jiménez</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Pathfinders</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Jorge Alan Castillo</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Phobos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nelson Arango</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>The Gellerpox</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Manuel García</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table hof-faction">
            <thead>
                <tr>
                    <th>Void-Dancer Troupe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Antonio Sanders</td>
                </tr>
            <tbody>
        </table>
    </div>
{% endblock %}