{% extends 'base.html' %}
{% block content %}
    <h1>Hall Of Fame Por países 2023 - 2024</h1>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Argentina</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Pablo "Gallo"</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Carlos Irala</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Mauricio Rodríguez</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Esteban Limas</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Facundo Saez</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Killteam Freaks!</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Bolivia</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Melky Domínguez</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Roger Andrés Villarroel</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Sergio Talavera</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Mauricio Salazar Barrero</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Jose Manuel</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>La Sombra de Gorko</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Chile</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Rodrigo "Mono" González</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Andrés Riquelme</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Kazhim Jaime</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Juan Soto</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Leandro Rojas (Nekro)</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kill Team Antofagasta</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Colombia</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Manuel García</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Angel Dario Cruz</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Santiago Barrera</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Jorge Martín</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Sebastián Eraso</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>3D3</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/users/latam';">México</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Alejo Martín</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Alejandro Jiménez</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Alejandro Pichardo</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Alexis Solache</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Erick Rodríguez</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Escuadrón 5 de Mayo</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Perú</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Sebastián Núñez del Arco</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Javier Aguilar</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Julio Revilla</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Antonio Sanders</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Sebastián Dávila</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Give me a Six</td>
                </tr>
            <tbody>
        </table>
    </div>
    <h2 class="link-h2" onclick="location.href='/users/latam';">Uruguay</h2>
    <div class="table-wrapper mb-100">
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Puesto</th>
                <th>Nombre</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td style="width: 70%;">Carlos Burmester</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td style="width: 70%;">Joaquín Burmester</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td style="width: 70%;">Ayrton Cardozo</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td style="width: 70%;">Mariano Llosado</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td style="width: 70%;">Leonardo Brusco</td>
                </tr>
            <tbody>
        </table>
        <table class="fl-table mb-50">
            <thead>
            <tr>
                <th>Mejor Club</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A-Team</td>
                </tr>
            <tbody>
        </table>
    </div>
{% endblock %}