{% extends 'base.html' %}
{% block content %}
    <h1>Política de Privacidad y Seguridad</h1>
    <div class="about">
        <h4>Datos Personales Recopilados</h4>
        <p>En <a href="https://www.rankinglatamkt.com">www.rankinglatamkt.com</a> no recopilamos dirección IP ni coockies para mejorar la experiencia de usuario.
            El único dato que recogemos son los nombres o usuarios de la web <a href="https://www.frontlinegaming.com">www.frontlinegaming.com</a> que los usuarios ya previamente han aceptado compartir en ella.</p>
        <p>En <a href="https://www.rankinglatamkt.com">www.rankinglatamkt.com</a> únicamente mostramos información de torneos realizados en países de América Latina, cuyos organizadores nos proporcionen los datos de la web <a href="https://www.frontlinegaming.com">Front Line Gaming</a></p>

        <h4>Eliminación de datos</h4>
        <p>Si algún usuario desea no aparecer en la web RLKT que se ponga en contacto en puente3podcast@gmail.com</p>
    </div>
{% endblock %}