{% extends 'base.html' %}
{% block content %}
    <h1>Patrocinadores</h1>
    <div class="about">
        <div onclick="location.href='https://go.ivoox.com/sq/1725279';" class="logo-p3"></div>
        <p>Podcast de Kill Team, centrado en Latinoamérica. Episodios analizando facciones, elementos
            claves del juego, reporte de torneos, entrevistas a personas de toda la región ¡y mucho más!</p>
        <a href="https://go.ivoox.com/sq/1725279">Ivoox</a>
        <a href="https://www.youtube.com/@puente3/">Youtube</a>
        <div onclick="location.href='https://krbstudio.mx/';" class="logo-krb"></div>
        <p>Empresa mexicana de material para Kill Team y otros juegos: play mats, objetivos, reglas de
            medición, escenografía, tokens...</p>
    </div>
{% endblock %}