{% extends 'base.html' %}
{% block content %}
    <h1>{{ country }}</h1>
    <h2 class="link-h2">Ranking Equipos</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for te in teams %}
                <tr onclick="location.href='/team/{{ te.id }}';">
                    <td>{{ loop.index }}</td>
                    <td style="width: 60%;">{{ te.name | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(te.bcpScore) }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}