{% extends 'base.html' %}
{% block content %}
    <h1>{{ library[country] }}</h1>
    <h2 class="link-h2">Ranking Individual</h2>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th></th>
                <th>Nombre</th>
                <th>Puntuación</th>
                {% if country == 'latam' %}
                    <th>País</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for us in users %}
                <tr onclick="location.href='/user/{{ us.id }}';">
                    <td>{{ loop.index }}</td>
                    <td style="width: 60%;">{{ us.bcpName | truncate(30, True, '...', 0) }}</td>
                    <td>{{ '%0.2f'| format(us.bcpScore) }}</td>
                    {% if country == 'latam' %}
                        <td>{{ us.country }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}