{% extends 'base.html' %}
{% block content %}
    <h2 class="link-h2">{{ userOnly.bcpName }}</h2>
    <h4>Puntuación Ibericon: {{ '%0.2f'| format(userOnly.bcpScore) }}</h4>
    <div class="table-wrapper">
        <table class="fl-table">
            <thead>
            <tr>
                <th>Torneo</th>
                <th>Posición</th>
                <th>Facción</th>
                <th>Equipo</th>
                <th>Puntuación</th>
            </tr>
            </thead>
            <tbody>
            {% for usrTor in usr %}
                {% for tor in userOnly.tournaments %}
                    {% if usrTor.UserTournament.tournamentId == tor.id %}
                        <tr onclick="window.open('{{ tor.bcpUri }}', '_blank');">
                            <td>{{ tor.name | truncate(30, True, '...', 0) }}</td>
                            <td>{{ usrTor.UserTournament.position }}</td>
                            {% if usrTor.UserTournament.factionId is not none %}
                                {% for fct in userOnly.factions %}
                                    {% if fct.id == usrTor.UserTournament.factionId %}
                                        <td>{{ fct.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if usrTor.UserTournament.teamId is not none %}
                                {% for te in userOnly.teams %}
                                    {% if te.id == usrTor.UserTournament.teamId %}
                                        <td>{{ te.name }}</td>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            {% if usrTor.UserTournament.countingScore %}
                                <td style="color: #FFF49B;">{{ '%0.2f'| format(usrTor.UserTournament.bcpScore) }}</td>
                            {% else %}
                                <td>{{ '%0.2f'| format(usrTor.UserTournament.bcpScore) }}</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            <tbody>
        </table>
    </div>
{% endblock %}